<div class="vevent">
    <h2>
        <a class="url" name="{{ event.name }}" href="#{{ event.name }}">{{ event.title }}</a>
    </h2>
    <div class="summary">{{ event.description }}</div>
    <div class="date">
        <div class="technical-date">
            <span class="dtstart">{{ event.start }}</span>
            <span class="dtend">{{ event.end }}</span>
        </div>
        <div class="calendar-date">
            <p class="day">
                {{ event.start | date: "%d" }}
                <span class="month">{{ event.start | date: "%b" }}</span>
            </p>
        </div>
        <div class="time-wrapper">
            <span class="start-day">{{ event.start | date: "%A" }}</span>
            <span class="start-time">{{ event.start | date: "%I:%M %p" }}</span> to
            <span class="end-time">{{ event.end | date: "%I:%M %p" }}</span>
        </div>
    </div>
    {% assign location = event.location %}
    {% include location.liquid %}
</div>
