<div class="vevent">
    <h2>
        <a class="url" href="{{ event.url }}">{{ event.title }}</a>
    </h2>
    <div class="summary">{{ event.description }}</div>
    <div class="date">
        <h3>Date</h3>
        <div class="technical-date">
            <span class="dtstart">{{ event.start }}</span>
            <span class="dtend">{{ event.end }}</span>
        </div>
        <span>{{ event.start | date: "%A, %b %d, %I:%M %p" }}</span> to
        <span>{{ event.start | date: "%I:%M %p" }}</span>
    </div>
    {% assign location = event.location %}
    {% include location.liquid %}
</div>
