<div class="location vcard">
    <div class="org">
        <h3>Location</h3>
        <div class="fn organization-name">{{ location.name }}</div>
        <div class="adr">
            <span class="street-adress">{{ location.street }}</span> -
            <span class="postal-code">{{ location.uzip }}</span>
            <span class="locality">{{ location.city }}</span> -
            <span class="country-name">{{ location.country }}</span>
        </div>
        {% if location.map %}
        <a href="{{ location.map.url }}" title="view on google-maps">
            <img src="{{ location.map.image }}" />
        </a>
        {% endif %}
    </div>
</div>
